<%
	due_input_id = "due#{todo.parent_id}"
	due_date = Date.current()
%>

<div class="new-todo">
	<%= form_for [:todo, todo],
			:url => {:action=> "create" },
			:remote => true,
			#:update => nothing - the action returns an rjs, which handles the page updates
			:success => "elements['todo[text]'].activate().clear();" do |f| %>

		<%= f.text_field :text, :size => 40 %>

		<%= f.hidden_field :due, 
			:id => "#{due_input_id}",
			:value => due_date.to_formatted_s('%Y-%m-%d'),
			:onchange => "$('\##{due_input_id}_span').html($(this).val());" +
						"$('\##{due_input_id}_cancel_span').show();"
		%>
		<span id="todo-flash-error-<%= todo.parent_id || 'root' %>" class='flash error' style='display: none;'></span>

		<span class="due_label_span">
			<%= l(:todo_new_due_label) %>
		</span>

		<span style='position: relative; top: -2px;'>
			<%= calendar_for "#{due_input_id}" %>
		</span>
		: 
		<span id='<%= "#{due_input_id}_span" %>'>
			<%= due_date.to_formatted_s('%Y-%m-%d') %>
		</span>
		<span id="<%= "#{due_input_id}_cancel_span" %>" class="new-todo-date-cancel">
			<%=
				link_to_function(image_tag('bullet_delete.png'),
					"$('\##{due_input_id}').attr('value','');" +
						"$('\##{due_input_id}_span').html('');" +
						"$('\##{due_input_id}_cancel_span').hide();",
					:title => "Clear Date"
				)
			%>
		</span>

		<%= f.hidden_field :parent_id %>
		<br />

		<%= f.submit l(:todo_new_create_button) %>
		<% if todo.parent %>
		  <%= l(:todo_new_or_label) %>
			<%= link_to_function(l(:todo_new_done_link),
			    "$('\#todo#{todo.parent_id}-new-box').html('')") %>
		<% end %>
	<% end %>
</div>
